Repository MissVioletBlue/tour-planner, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: UI, Changes: C#

Added PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Added docs folder and index.md
  .idea/.idea.Swen2Project/.idea/indexLayout.xml
  docs/index.md
Labels: none

Create README.md
  README.md
Labels: none

Documentation improvements (#11)
  .github/PULL_REQUEST_TEMPLATE.md
  .idea/.idea.Swen2Project/.idea/indexLayout.xml
  README.md
  docs/index.md
Labels: none

Documentation adjustments and workflow removal (#12)
  .github/PULL_REQUEST_TEMPLATE.md
  .idea/.idea.Swen2Project/.idea/indexLayout.xml
  README.md
  docs/index.md
Labels: none

Removed Warning in MainWindow.xaml
  Swen2Project/MainWindow.xaml
Labels: Changes: UI

Improved the UI, no logic
  Swen2Project/MainWindow.xaml
Labels: Changes: UI

Prevented breaking of the UI when scaling the windoow
  Swen2Project/MainWindow.xaml
Labels: Changes: UI

Improved the UI, no logic (#13)
  Swen2Project/MainWindow.xaml
Labels: Changes: UI

Revamped project structure
  Swen2Project/MainWindow.xaml.cs
  Swen2Project/Swen2Project.csproj
  Swen2Project/TourPlanner.Models/Tour.cs
  Swen2Project/TourPlanner.Presentation/App.xaml
  Swen2Project/TourPlanner.Presentation/App.xaml.cs
  Swen2Project/TourPlanner.Presentation/Views/AddingTourWindow.xaml
  Swen2Project/TourPlanner.Presentation/Views/AddingTourWindow.xaml.cs
  Swen2Project/TourPlanner.Presentation/Views/MainWindow.xaml
  Swen2Project/TourPlanner.Presentation/Views/MainWindow.xaml.cs
  Swen2Project/TourPlanner.ViewModels/Commands/RelayCommand.cs
  Swen2Project/TourPlanner.ViewModels/MainWindowViewModel.cs
Labels: Changes: UI, Changes: C#

Added RemoveTourWindow and Command
  Swen2Project/TourPlanner.Presentation/Views/MainWindow.xaml
  Swen2Project/TourPlanner.Presentation/Views/RemovingTourWindow.xaml
  Swen2Project/TourPlanner.Presentation/Views/RemovingTourWindow.xaml.cs
  Swen2Project/TourPlanner.ViewModels/MainWindowViewModel.cs
Labels: Changes: UI, Changes: C#

Split up MainWindow into multiple user controls
  Swen2Project/TourPlanner.Presentation/App.xaml
  Swen2Project/TourPlanner.Presentation/Controls/SearchBarControl.xaml
  Swen2Project/TourPlanner.Presentation/Controls/SearchBarControl.xaml.cs
  Swen2Project/TourPlanner.Presentation/Controls/TourDetailsControl.xaml
  Swen2Project/TourPlanner.Presentation/Controls/TourDetailsControl.xaml.cs
  Swen2Project/TourPlanner.Presentation/Controls/TourListControl.xaml
  Swen2Project/TourPlanner.Presentation/Controls/TourListControl.xaml.cs
  Swen2Project/TourPlanner.Presentation/Views/MainWindow.xaml
Labels: Changes: UI, Changes: C#

Split up yet again
  Swen2Project/TourPlanner.Presentation/Controls/TourDetailsControl.xaml
  Swen2Project/TourPlanner.Presentation/Controls/TourListControls/TourDescriptionControl.xaml
  Swen2Project/TourPlanner.Presentation/Controls/TourListControls/TourDescriptionControl.xaml.cs
  Swen2Project/TourPlanner.Presentation/Controls/TourListControls/TourInformationControl.xaml
  Swen2Project/TourPlanner.Presentation/Controls/TourListControls/TourInformationControl.xaml.cs
  Swen2Project/TourPlanner.Presentation/Controls/TourListControls/TourStatisticControl.xaml
  Swen2Project/TourPlanner.Presentation/Controls/TourListControls/TourStatisticControl.xaml.cs
Labels: Changes: UI, Changes: C#

Update issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: none

Improved enforce-branching workflow to close PRs when fails
  .github/workflows/enforce-branching.yml
Labels: none

Fixed Nullable warnings
  Swen2Project/TourPlanner.ViewModels/Commands/RelayCommand.cs
  Swen2Project/TourPlanner.ViewModels/MainWindowViewModel.cs
Labels: Changes: C#

Further improvements
  Swen2Project/TourPlanner.Presentation/Controls/TourListControl.xaml
  Swen2Project/TourPlanner.ViewModels/Commands/RelayCommand.cs
  Swen2Project/TourPlanner.ViewModels/MainWindowViewModel.cs
Labels: Changes: UI, Changes: C#

Update labeler-needsreview.yml
  .github/workflows/labeler-needsreview.yml
Labels: none

Update labeler-needsreview.yml (#18)
  .github/workflows/labeler-needsreview.yml
Labels: none

Update issue templates and labeler-review (#16)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/workflows/labeler-needsreview.yml
Labels: none

Update issue templates and labeler-review (#16)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/workflows/labeler-needsreview.yml
Labels: none

Improved the UI, no logic (#13)
  Swen2Project/MainWindow.xaml
Labels: Changes: UI

Improved enforce-branching workflow to close PRs when fails
  .github/workflows/enforce-branching.yml
Labels: none

Added text to index.md
  docs/index.md
Labels: none

Added text to index.md (#26)
  docs/index.md
Labels: none

CI pipeline
  .github/workflows/ci-pipeline.yml
Labels: none

Minor tweaks
  .github/workflows/ci-pipeline.yml
Labels: none

Update to latest version for build artifacts
  .github/workflows/ci-pipeline.yml
Labels: none

Updated to latest version for upload code analysis
  .github/workflows/ci-pipeline.yml
Labels: none

update GitHub Actions workflow with more forgiving code format check
  .github/workflows/ci-pipeline.yml
Labels: none

Adding a CI pipeline (#28)
  .github/workflows/ci-pipeline.yml
Labels: none

Deleted two empty directories
  Swen2Project/Swen2Project.csproj
Labels: none

Added Business Project
  Swen2Project.sln
  TourPlanner.Business/Class1.cs
  TourPlanner.Business/TourPlanner.Business.csproj
Labels: Changes: C#

Added DataAccess project
  Swen2Project.sln
  TourPlanner.DataAccess/Class1.cs
  TourPlanner.DataAccess/TourPlanner.DataAccess.csproj
Labels: Changes: C#

Added Models Project for universal stuff
  Swen2Project.sln
  TourPlanner.Models/Class1.cs
  TourPlanner.Models/TourPlanner.Models.csproj
Labels: Changes: C#

Removed Models from Presentation Layer
  TourPlanner.Presentation/Models/Tour.cs
Labels: Changes: C#

Added couple files and basic layout for tour model
  TourPlanner.Models/Class1.cs
  TourPlanner.Models/Interfaces/ITourRepository.cs
  TourPlanner.Models/Models/TourLogs.cs
  TourPlanner.Models/Models/Tours.cs
Labels: Changes: C#

Renamed Tours to Tour and added ITourRepository.cs
  TourPlanner.Models/Interfaces/ITourRepository.cs
  TourPlanner.Models/Models/Tour.cs
Labels: Changes: C#

Basic repo logic for tours
  TourPlanner.DataAccess/Class1.cs
  TourPlanner.DataAccess/Repositories/TourRepository.cs
  TourPlanner.DataAccess/TourPlanner.DataAccess.csproj
  TourPlanner.Models/Interfaces/ITourRepository.cs
  TourPlanner.Models/Models/Tour.cs
Labels: Changes: C#

Finishing TourRepo
  TourPlanner.DataAccess/Repositories/TourRepository.cs
Labels: Changes: C#

.github/labeler.yml:

"Changes: UI":
  - changed-files:
      - any-glob-to-any-file: '**/*.xaml*'

"Changes: C#":
  - changed-files:
      - any-glob-to-any-file: '**/*.cs'

"Changes: No C# or XAML":
  - changed-files:
      - all-globs-to-all-files:
          - "!**/*.cs"
          - "!**/*.xaml*"
