Repository MissVioletBlue/tour-planner, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: UI, Changes: C#

.github/labeler.yml:

"Changes: UI":
  - changed-files:
      - any-glob-to-any-file: '**/*.xaml*'

"Changes: C#":
  - changed-files:
      - any-glob-to-any-file: '**/*.cs'

"Changes: No C# or XAML":
  - changed-files:
      - all-globs-to-all-files:
          - "!**/*.cs"
          - "!**/*.xaml*"

Basic CRUD actions
  TourPlanner.Business/Class1.cs
  TourPlanner.Business/Services/TourService.cs
  TourPlanner.Business/TourPlanner.Business.csproj
  TourPlanner.Models/Interfaces/ITourService.cs
  TourPlanner.Models/Models/Tour.cs
Labels: Changes: C#

Added mutliple viewmodels, readjusted main one
  TourPlanner.Business/Services/TourService.cs
  TourPlanner.Business/TourPlanner.Business.csproj
  TourPlanner.DataAccess/TourPlanner.DataAccess.csproj
  TourPlanner.Models/Interfaces/ITourService.cs
  TourPlanner.Models/Models/Tour.cs
  TourPlanner.Models/TourPlanner.Models.csproj
  TourPlanner.Presentation/Presentation/App.xaml.cs
  TourPlanner.Presentation/Presentation/Controls/TourListControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourListControls/TourDescriptionControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourListControls/TourInformationControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourListControls/TourStatisticControl.xaml
  TourPlanner.Presentation/Presentation/Views/AddingTourWindow.xaml
  TourPlanner.Presentation/Presentation/Views/MainWindow.xaml.cs
  TourPlanner.Presentation/Presentation/Views/RemovingTourWindow.xaml
  TourPlanner.Presentation/TourPlanner.Presentation.csproj
  TourPlanner.Presentation/ViewModels/AddTourViewModel.cs
  TourPlanner.Presentation/ViewModels/Commands/RelayCommand.cs
  TourPlanner.Presentation/ViewModels/MainWindowViewModel.cs
  TourPlanner.Presentation/ViewModels/RemoveTourViewModel.cs
Labels: Changes: UI, Changes: C#

Logic and binding for tours
  .vs/ProjectEvaluation/swen2project.metadata.v9.bin
  .vs/ProjectEvaluation/swen2project.projects.v9.bin
  .vs/ProjectEvaluation/swen2project.strings.v9.bin
  .vs/Swen2Project/DesignTimeBuild/.dtbcache.v2
  .vs/Swen2Project/FileContentIndex/6b4078b5-9490-47d3-8bf5-18b905aea238.vsidx
  .vs/Swen2Project/v17/.futdcache.v2
  .vs/Swen2Project/v17/.suo
  .vs/Swen2Project/v17/DocumentLayout.backup.json
  .vs/Swen2Project/v17/DocumentLayout.json
  .vs/Swen2Project/v17/TestStore/0/000.testlog
  .vs/Swen2Project/v17/TestStore/0/testlog.manifest
  TourPlanner.Presentation/Presentation/App.xaml
  TourPlanner.Presentation/Presentation/App.xaml.cs
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControl.xaml
  TourPlanner.Presentation/Presentation/Views/MainWindow.xaml
Labels: Changes: UI, Changes: C#

Fixed name not being shown properly in RemovingTourWindow.xaml
  TourPlanner.Presentation/Presentation/Views/RemovingTourWindow.xaml
Labels: Changes: UI

Crud tours (#33)
  .vs/ProjectEvaluation/swen2project.metadata.v9.bin
  .vs/ProjectEvaluation/swen2project.projects.v9.bin
  .vs/ProjectEvaluation/swen2project.strings.v9.bin
  .vs/Swen2Project/DesignTimeBuild/.dtbcache.v2
  .vs/Swen2Project/FileContentIndex/6b4078b5-9490-47d3-8bf5-18b905aea238.vsidx
  .vs/Swen2Project/v17/.futdcache.v2
  .vs/Swen2Project/v17/.suo
  .vs/Swen2Project/v17/DocumentLayout.backup.json
  .vs/Swen2Project/v17/DocumentLayout.json
  .vs/Swen2Project/v17/TestStore/0/000.testlog
  .vs/Swen2Project/v17/TestStore/0/testlog.manifest
  TourPlanner.Business/Services/TourService.cs
  TourPlanner.Business/TourPlanner.Business.csproj
  TourPlanner.DataAccess/Repositories/TourRepository.cs
  TourPlanner.DataAccess/TourPlanner.DataAccess.csproj
  TourPlanner.Models/Interfaces/ITourRepository.cs
  TourPlanner.Models/Interfaces/ITourService.cs
  TourPlanner.Models/Models/Tour.cs
  TourPlanner.Models/Models/TourLogs.cs
  TourPlanner.Models/TourPlanner.Models.csproj
  TourPlanner.Presentation/Presentation/App.xaml
  TourPlanner.Presentation/Presentation/App.xaml.cs
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourListControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourListControls/TourDescriptionControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourListControls/TourInformationControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourListControls/TourStatisticControl.xaml
  TourPlanner.Presentation/Presentation/Views/AddingTourWindow.xaml
  TourPlanner.Presentation/Presentation/Views/MainWindow.xaml
  TourPlanner.Presentation/Presentation/Views/MainWindow.xaml.cs
  TourPlanner.Presentation/Presentation/Views/RemovingTourWindow.xaml
  TourPlanner.Presentation/TourPlanner.Presentation.csproj
  TourPlanner.Presentation/ViewModels/AddTourViewModel.cs
  TourPlanner.Presentation/ViewModels/Commands/RelayCommand.cs
  TourPlanner.Presentation/ViewModels/MainWindowViewModel.cs
  TourPlanner.Presentation/ViewModels/RemoveTourViewModel.cs
Labels: Changes: UI, Changes: C#

Slight changes
  TourPlanner.Business/Services/TourService.cs
  TourPlanner.Models/Models/Tour.cs
Labels: Changes: C#

UnitTests
  Swen2Project.sln
  TourPlanner.Business.Tests/Services/TourServiceTest.cs
  TourPlanner.Business.Tests/TourPlanner.Business.Tests.csproj
  TourPlanner.Business/TourPlanner.Business.csproj
  TourPlanner.DataAccess/TourPlanner.DataAccess.csproj
  TourPlanner.Models/TourPlanner.Models.csproj
  TourPlanner.Presentation/TourPlanner.Presentation.csproj
Labels: Changes: C#

Quick fix for ci pipeline
  .github/workflows/ci-pipeline.yml
Labels: none

Tests (#34)
  .github/workflows/ci-pipeline.yml
  Swen2Project.sln
  TourPlanner.Business.Tests/Services/TourServiceTest.cs
  TourPlanner.Business.Tests/TourPlanner.Business.Tests.csproj
  TourPlanner.Business/Services/TourService.cs
  TourPlanner.Business/TourPlanner.Business.csproj
  TourPlanner.DataAccess/TourPlanner.DataAccess.csproj
  TourPlanner.Models/Models/Tour.cs
  TourPlanner.Models/TourPlanner.Models.csproj
  TourPlanner.Presentation/TourPlanner.Presentation.csproj
Labels: Changes: C#

Fixed pre-tours not showing in list
  TourPlanner.Business/TourPlanner.Business.csproj
  TourPlanner.DataAccess/TourPlanner.DataAccess.csproj
  TourPlanner.Models/TourPlanner.Models.csproj
  TourPlanner.Presentation/TourPlanner.Presentation.csproj
  TourPlanner.Presentation/ViewModels/MainWindowViewModel.cs
Labels: Changes: C#

Added TourDetailsHeaderControl
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourDetailsHeaderControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourDetailsHeaderControl.xaml.cs
Labels: Changes: UI, Changes: C#

Added TourMapControl
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourMapControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourMapControl.xaml.cs
Labels: Changes: UI, Changes: C#

Added TourLogsControl
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourLogsControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourLogsControl.xaml.cs
Labels: Changes: UI, Changes: C#

Added TourOverviewControl
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourOverviewControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourOverviewControl.xaml.cs
Labels: Changes: UI, Changes: C#

Split up TourDetailsControl into multiple user controls
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourDetailsHeaderControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourLogsControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourMapControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourOverviewControl.xaml
Labels: Changes: UI

Removed unnecessary classes
  TourPlanner.Business/Class1.cs
  TourPlanner.DataAccess/Class1.cs
  TourPlanner.Models/Class1.cs
Labels: Changes: C#

Lots of shit
  Swen2Project.sln.DotSettings.user
Labels: none

More shit... to lazy to write message
  TourPlanner.Business.Tests/Services/TourLogServiceTest.cs
  TourPlanner.Business.Tests/Services/TourServiceTest.cs
  TourPlanner.Business/Services/TourLogService.cs
  TourPlanner.DataAccess/Repositories/TourLogRepository.cs
  TourPlanner.Models/Interfaces/ITourLogRepository.cs
  TourPlanner.Models/Interfaces/ITourLogService.cs
  TourPlanner.Models/Models/Tour.cs
  TourPlanner.Models/Models/TourLogs.cs
  TourPlanner.Presentation/Presentation/App.xaml.cs
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourLogsControl.xaml
  TourPlanner.Presentation/Presentation/Views/AddingTourLogWindow.xaml
  TourPlanner.Presentation/Presentation/Views/AddingTourLogWindow.xaml.cs
  TourPlanner.Presentation/ViewModels/AddTourLogViewModel.cs
  TourPlanner.Presentation/ViewModels/AddTourViewModel.cs
  TourPlanner.Presentation/ViewModels/MainWindowViewModel.cs
  TourPlanner.Presentation/ViewModels/RemoveTourViewModel.cs
Labels: Changes: UI, Changes: C#

TourLogServiceTest unit tests
  TourPlanner.Business.Tests/Services/TourLogServiceTest.cs
Labels: Changes: C#

New stuff (#35)
  Swen2Project.sln.DotSettings.user
  TourPlanner.Business.Tests/Services/TourLogServiceTest.cs
  TourPlanner.Business.Tests/Services/TourServiceTest.cs
  TourPlanner.Business/Class1.cs
  TourPlanner.Business/Services/TourLogService.cs
  TourPlanner.Business/TourPlanner.Business.csproj
  TourPlanner.DataAccess/Class1.cs
  TourPlanner.DataAccess/Repositories/TourLogRepository.cs
  TourPlanner.DataAccess/TourPlanner.DataAccess.csproj
  TourPlanner.Models/Class1.cs
  TourPlanner.Models/Interfaces/ITourLogRepository.cs
  TourPlanner.Models/Interfaces/ITourLogService.cs
  TourPlanner.Models/Models/Tour.cs
  TourPlanner.Models/Models/TourLogs.cs
  TourPlanner.Models/TourPlanner.Models.csproj
  TourPlanner.Presentation/Presentation/App.xaml.cs
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourDetailsHeaderControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourDetailsHeaderControl.xaml.cs
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourLogsControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourLogsControl.xaml.cs
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourMapControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourMapControl.xaml.cs
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourOverviewControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourOverviewControl.xaml.cs
  TourPlanner.Presentation/Presentation/Views/AddingTourLogWindow.xaml
  TourPlanner.Presentation/Presentation/Views/AddingTourLogWindow.xaml.cs
  TourPlanner.Presentation/TourPlanner.Presentation.csproj
  TourPlanner.Presentation/ViewModels/AddTourLogViewModel.cs
  TourPlanner.Presentation/ViewModels/AddTourViewModel.cs
  TourPlanner.Presentation/ViewModels/MainWindowViewModel.cs
  TourPlanner.Presentation/ViewModels/RemoveTourViewModel.cs
Labels: Changes: UI, Changes: C#

Added text to index.md (#26)
  docs/index.md
Labels: none

Tests (#34)
  .github/workflows/ci-pipeline.yml
  Swen2Project.sln
  TourPlanner.Business.Tests/Services/TourServiceTest.cs
  TourPlanner.Business.Tests/TourPlanner.Business.Tests.csproj
  TourPlanner.Business/Services/TourService.cs
  TourPlanner.Business/TourPlanner.Business.csproj
  TourPlanner.DataAccess/TourPlanner.DataAccess.csproj
  TourPlanner.Models/Models/Tour.cs
  TourPlanner.Models/TourPlanner.Models.csproj
  TourPlanner.Presentation/TourPlanner.Presentation.csproj
Labels: Changes: C#

Adding a CI pipeline (#28)
  .github/workflows/ci-pipeline.yml
Labels: none

New stuff (#35)
  Swen2Project.sln.DotSettings.user
  TourPlanner.Business.Tests/Services/TourLogServiceTest.cs
  TourPlanner.Business.Tests/Services/TourServiceTest.cs
  TourPlanner.Business/Class1.cs
  TourPlanner.Business/Services/TourLogService.cs
  TourPlanner.Business/TourPlanner.Business.csproj
  TourPlanner.DataAccess/Class1.cs
  TourPlanner.DataAccess/Repositories/TourLogRepository.cs
  TourPlanner.DataAccess/TourPlanner.DataAccess.csproj
  TourPlanner.Models/Class1.cs
  TourPlanner.Models/Interfaces/ITourLogRepository.cs
  TourPlanner.Models/Interfaces/ITourLogService.cs
  TourPlanner.Models/Models/Tour.cs
  TourPlanner.Models/Models/TourLogs.cs
  TourPlanner.Models/TourPlanner.Models.csproj
  TourPlanner.Presentation/Presentation/App.xaml.cs
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourDetailsHeaderControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourDetailsHeaderControl.xaml.cs
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourLogsControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourLogsControl.xaml.cs
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourMapControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourMapControl.xaml.cs
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourOverviewControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControls/TourOverviewControl.xaml.cs
  TourPlanner.Presentation/Presentation/Views/AddingTourLogWindow.xaml
  TourPlanner.Presentation/Presentation/Views/AddingTourLogWindow.xaml.cs
  TourPlanner.Presentation/TourPlanner.Presentation.csproj
  TourPlanner.Presentation/ViewModels/AddTourLogViewModel.cs
  TourPlanner.Presentation/ViewModels/AddTourViewModel.cs
  TourPlanner.Presentation/ViewModels/MainWindowViewModel.cs
  TourPlanner.Presentation/ViewModels/RemoveTourViewModel.cs
Labels: Changes: UI, Changes: C#

Crud tours (#33)
  .vs/ProjectEvaluation/swen2project.metadata.v9.bin
  .vs/ProjectEvaluation/swen2project.projects.v9.bin
  .vs/ProjectEvaluation/swen2project.strings.v9.bin
  .vs/Swen2Project/DesignTimeBuild/.dtbcache.v2
  .vs/Swen2Project/FileContentIndex/6b4078b5-9490-47d3-8bf5-18b905aea238.vsidx
  .vs/Swen2Project/v17/.futdcache.v2
  .vs/Swen2Project/v17/.suo
  .vs/Swen2Project/v17/DocumentLayout.backup.json
  .vs/Swen2Project/v17/DocumentLayout.json
  .vs/Swen2Project/v17/TestStore/0/000.testlog
  .vs/Swen2Project/v17/TestStore/0/testlog.manifest
  TourPlanner.Business/Services/TourService.cs
  TourPlanner.Business/TourPlanner.Business.csproj
  TourPlanner.DataAccess/Repositories/TourRepository.cs
  TourPlanner.DataAccess/TourPlanner.DataAccess.csproj
  TourPlanner.Models/Interfaces/ITourRepository.cs
  TourPlanner.Models/Interfaces/ITourService.cs
  TourPlanner.Models/Models/Tour.cs
  TourPlanner.Models/Models/TourLogs.cs
  TourPlanner.Models/TourPlanner.Models.csproj
  TourPlanner.Presentation/Presentation/App.xaml
  TourPlanner.Presentation/Presentation/App.xaml.cs
  TourPlanner.Presentation/Presentation/Controls/TourDetailsControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourListControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourListControls/TourDescriptionControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourListControls/TourInformationControl.xaml
  TourPlanner.Presentation/Presentation/Controls/TourListControls/TourStatisticControl.xaml
  TourPlanner.Presentation/Presentation/Views/AddingTourWindow.xaml
  TourPlanner.Presentation/Presentation/Views/MainWindow.xaml
  TourPlanner.Presentation/Presentation/Views/MainWindow.xaml.cs
  TourPlanner.Presentation/Presentation/Views/RemovingTourWindow.xaml
  TourPlanner.Presentation/TourPlanner.Presentation.csproj
  TourPlanner.Presentation/ViewModels/AddTourViewModel.cs
  TourPlanner.Presentation/ViewModels/Commands/RelayCommand.cs
  TourPlanner.Presentation/ViewModels/MainWindowViewModel.cs
  TourPlanner.Presentation/ViewModels/RemoveTourViewModel.cs
Labels: Changes: UI, Changes: C#
